/* お手製リセットCSS */
* {
    box-sizing: border-box;
    /* heightやwidthをpaddingとborderが含まれた寸法にする */

}

h1,
p,
body {
    margin: 0;
}

button {
    font: inherit;
    /* 親要素と同じフォントにする */
    cursor: pointer;
}


/*  このアプリ全体のレイアウトを決定する */
.app {
    min-height: 100vh;
    display: flex;
    /* 要素をFlexBoxにする */

    justify-content: center;
    /* 要素を左右中央揃えにする */
}

/* スタート画面 */
.startScreen {
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.startScreen h1 {
    margin: 30vh 0 20vh;
    font-size: 6vw;
}

.startScreen p {
    line-height: 3;
    padding: 0 10vw 0;
}

#startButton {
    background-color: aquamarine;
    border: none;
    border-radius: 30px;
    padding: 30px;
    margin: 10vw;
    transition: background-color 0.2s ease;
    font-size: 2em;
    letter-spacing: 0.04em;
}

#startButton:hover {
    background-color: rgb(26, 67, 125);
    color: #ffffff;
}